.enjoy{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.enjoy__image{
    position: absolute;
    left: 8.3rem;
    bottom: 3rem;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.5);
}

.enjoy__image--tablet{
    display: none;
}

.enjoy__image--mobile{
    display: none;
}
.enjoy__container{
    align-items: center;
   flex-direction: column;
   display: flex;
   height: 300px;
   justify-content: center;
   margin: auto;
   width: 400px;
   position: absolute;
   top: 25%;
   left: 60%
}

.enjoy__container h2{
    color: var(--ebone-clay);
    font-size: 2.5rem;
    font-weight: 700;
}

.enjoy__container p{
    color: var(--ebone-clay);
    font-weight: 400;
    line-height: 30px;
}

@media screen and (max-width: 768px){

    .enjoy{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .enjoy__container--image{
        margin: 3rem auto 0 auto;
        width: 80%;
    }
    .enjoy__image{
        display: none;
    }

    .enjoy__image--tablet{
        display: block;
    }

    .enjoy__image--mobile{
        display: none;
    }

    .enjoy__container{
        position: static;
    }
    .enjoy__container h2{
       
        font-size: 2.2rem;
        line-height: 2.2rem;
        padding:0 4rem;
        text-align:  center;
    }

    .enjoy__container p{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align:  center;
    }
}

@media  screen and (max-width: 600px) {

    .enjoy{
        height: 100vh;
        position: relative;
    }
    .enjoy__image--tablet{
        display: none;
    }

    .enjoy__image--mobile{
        display: block;
        position: absolute;
       top: -3rem;
       left: auto;
    }

    .enjoy__container{
        position: static;
        padding: 3rem 0;

    }
    .enjoy__container h2{
        margin-top: 10rem;
        font-size: 2.5rem;
        line-height: 2.8rem;
        padding: 0 1.2rem;
    }
    .enjoy__container p{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0 2rem;

    }
}