.local{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.local__container{
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: auto;
    width: 400px;
    position: absolute;
    left: 165px;
    top: 25%;
}

.local__container h2{
    color: var(--ebone-clay);
    font-size: 2.5rem;
    font-weight: 700;
}

.local__container p{
    color: var(--ebone-clay);
    font-weight: 400;
    line-height: 30px;
}

.local__image{
    position: absolute;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.5);
    right: 8.3rem

}

@media screen and (max-width: 768px){
    .local{
        width: 100%;
        flex-direction: column-reverse;
    }
    .local__image{
        display: none;
        
    }

  
    .local__container--image{
        width: 80%;
        margin: 0 auto;
    }
    .local__container{
        position: static;
    }

    .local__container h2{
        font-size: 2.2rem;
        line-height: 2.2rem;
        margin-top: 2rem;
        text-align:  center;
    }

    .local__container P{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align:  center;
    }
}