:root{
    --beaver: #9e7f66;
    --gray:#111111;
    --mirage:#17192b;
    --ebone-clay:#242b37;
    --shutle-gray:#5c6779;
    --primary-font: 'League Spartan', sans-serif;
    --white: #FFFFFF;
    
}

body{
    font-family: var(--primary-font);
    font-size: 20px;
    box-sizing: border-box;
}